.people-container{
  display: flex;
}
.people-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 200px;
    margin-top: 30px;
  }
  
  .people-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .people-name {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
  }
  
  .people-description {
    font-size: 14px;
    color: #777;
    margin-top: 8px;
  }

  .row{
    margin-left: 80px;
  }